<%- include('partials/head', {pageTitle: 'Add  Label'}) %>

<body>
<div class="mt-5 container">
  <div class="w-50 mx-auto">
    <h1>Add New Label</h1>
    

    <form action="/label/add" method="POST">
      <div class="form-group">
        <label for="name">Label Name</label>
        <input type="text" class="form-control" name="name">
      </div>
  
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
</body>
</html>