<%- include('partials/head', {pageTitle: 'Login'}) %>

<body>
    <%- include('partials/navbar', {sessionInfo}) %>

    <div class="text-center">
        <div class="container actioTitle">
            <div class="alert" role="alert">
                <h4>Getting Started</h4>
            </div>
        </div>
    </div>

    <div class="container actioTitle">
        <div class="alert" role="alert">
            <p class="actio-paragraph"><span class="actio-text">Act.io</span> is a website that will help you keep track of your to do list</p>
            <p class="actio-paragraph">You can create a new list, edit and also mark as done when you have completed the task</p>
            <p class="actio-paragraph">Don't forget to check out our reminder feature. Just specify when you want us to remind you about the task you just created via SMS text.</p>
        </div>
    </div>
    <div class="container text-left">
        <br><button type="button" class="btn btn-primary"><a href="/auth/login" style="color: white"><b>Go back to login page</b></a></button>
    </div>
    <%- include('partials/script') %>
</body>
</html>
    