<%- include('partials/head', {pageTitle: 'Login'}) %>

<body>
    <%- include('partials/navbar', {sessionInfo}) %>

    <div class="text-center">
        <div class="container actioTitle">
            <div class="alert" role="alert">
                <h4>Getting Started</h4>
            </div>
        </div>
    </div>

        <div class="container actioTitle">
            <div class="alert" role="alert">
                <p class="actio-paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio sequi architecto ipsam odit quam. Deserunt asperiores nulla deleniti, veniam nemo nihil error consequuntur quisquam minima impedit delectus neque velit quod corporis pariatur at laborum quam tempora ullam quae. Labore facilis earum iusto veniam quas aperiam ipsa tenetur consequatur magnam placeat!</p>
                <p class="actio-paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio sequi architecto ipsam odit quam. Deserunt asperiores nulla deleniti, veniam nemo nihil error consequuntur quisquam minima impedit delectus neque velit quod corporis pariatur at laborum quam tempora ullam quae. Labore facilis earum iusto veniam quas aperiam ipsa tenetur consequatur magnam placeat!</p>
                <p class="actio-paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio sequi architecto ipsam odit quam. Deserunt asperiores nulla deleniti, veniam nemo nihil error consequuntur quisquam minima impedit delectus neque velit quod corporis pariatur at laborum quam tempora ullam quae. Labore facilis earum iusto veniam quas aperiam ipsa tenetur consequatur magnam placeat!</p>
            </div>
        </div>
        <div class="container text-left">
            <br><button type="button" class="btn btn-primary"><a href="/auth/login" style="color: white"><b>Go back to login page</b></a></button>
        </div>
</body>