<%- include('partials/head', {pageTitle: 'Home'}) %>

<body>
    <%- include('partials/navbar') %>
    <h1>Ini di homepage</h1>
</body>


<br>
<a href="/label" class="btn btn-warning mb-5">Label</a> 
<a href="/label/add" class="btn btn-warning mb-5">Add New Label</a>
